{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "site/title.html" %}
    <link rel="stylesheet" href="{% static 'css/libs.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="icon"
      type="image/png"
      href="{% static 'img/favicon.png' %}">
</head>
<body>
<header class="game-header">
     <div class="header__top">
        <div class="container-fluid">
            <div class="wrapper">
                <div class="logo">
                    <a href="/">
                    Pay2k
                </a>
                </div>
                {% include 'site/menu.html' with right_button_url="/catalogue/"|add:data.uid|add:"/" %}
            </div>
        </div>
    </div>

    <div class="container-fluid">


            <div class="game-header__content">
                 <div class="header-content">
                    <div id="fixed_container" class="fixed_container">
                        <h1 id="gameName" class="gameName">
                    {{ data.name }}
                </h1> <p class="devName">{% blocktrans with devname=data.devname %}by {{ devname }}{% endblocktrans %}</p>
                    </div>
                    
                
                
           
            
           <div class="download-page-description__title download-page-description__title-header">
                {% blocktrans %}Play game <br> Complete levels
<br>
               Earn crypto
               {% endblocktrans %}
            </div>

            </div>

            <div class="game-icon">
                <img src="https://storage.googleapis.com/ninja_storage/{{ data.icon }}" alt="">
            </div>
            </div>
            
           
        </div>
    </header>


   <section class="download-page-description download-page-description--hompage download-page-description--game">
        <div class="container-fluid">
            

             <div class="download-page-description__title download-page-description__title--mobil download-page-description__title--mobil-game h2">
                {% blocktrans %}Play game<br> Complete levels
<br>
               Earn crypto
               {% endblocktrans %}
            </div>
            
            <p>
                {{ description|default_if_none:'&mdash;'|linebreaksbr|safe }}
            </p>
               
        </div>
    </section> 

     <div class="container-fluid call-to-action-button call-to-action-button-game" >
        <div class="row">
            <div class="col-lg-12">
                <div class="download-text-wrapper">
                    <div class="download__button-wrapper-fixed fixed">
                        <div class="download__button ">
                            <a href="/catalogue/{{ data.uid }}/">{% trans "Play Now!" %}</a>
                        </div>
                    </div>
                    <div class="download__button-wrapper">
                        <div class="download__button ">
                            <a href="/catalogue/{{ data.uid }}/">{% trans "Play Now!" %}</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div> 

 <section class="download-page-description download-page-description--hompage">
        <div class="container-fluid">
            <div class="download-page-description__title download-page-description__title--desktop h2">
                {% blocktrans %}Pay2K - a platform with free games <br>
where you can earn crypto!{% endblocktrans %}
<span class="download-page-description__sub-title">Created on <a href="https://freeton.org/" target="_blank">Free TON</a> Blockchain</span>
            </div>
              <div class="download-page-description__title download-page-description__title--mobil h2">
                {% blocktrans %}<i></i>Pay2K - a platform with free games <br>
where you can earn crypto!{% endblocktrans %}
<span class="download-page-description__sub-title">Created on <a href="https://freeton.org/" target="_blank">Free TON</a> Blockchain</span>
            </div>
            <p>
                      {% blocktrans %}Stop wasting your time by playing quiz games without any goal! Today, because of Pay2K platform, you can start to earn real money playing educational and fun trivia games!{% endblocktrans %}

            <p>
                <ul>
                    <li>{% trans 'Receive payouts on a daily basis' %}</li>
                    <li>{% trans '100% for FREE! You came to earn money & not to spent it. Right?' %}</li>
                    <li>{% trans 'More then 3,000 fun entertainment trivia games' %}</li>
                    <li>{% trans 'Daily top leader receive $10!' %}</li>
                    <li>{% trans 'Weekly raffle - winner get $100 (Winner guaranteed)' %}</li>
                    <li>{% trans 'Monthly raffle - winner get $300 (Winner guaranteed)' %}</li>
                    <li>
                        {% blocktrans with ton_link='<a href="https://freeton.org/" target="_blank">Free TON</a>' %}
                            All payments are 100% real and recorded in the {{ ton_link }} blockchain!
                        {% endblocktrans %}
                    </li>
                </ul>
        </div>
    </section>

 <section class="about">
    <div class="container-fluid">
        <h2 class="h2">{% trans 'What you need to do?' %}</h2>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="img">
                    <img src="/static/img/icon1.png" alt="">
                </div>
                <h3>{% blocktrans with store_link='/catalogue/' %}Launch any game<br>from the <a target="_blank" href="{{ store_link }}">game store</a>{% endblocktrans %}</h3>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="img">
                    <img src="/static/img/icon2.png" alt="">
                </div>
                <h3>
                    {% trans 'Register Account<br>for FREE' %}
                </h3>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="img">
                    <img src="/static/img/icon3.png" alt="">
                </div>
                <h3>
                    {% trans 'Play Games<br>Earn Gems' %}
                </h3>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="img">
                    <img src="/static/img/icon4.png" alt=""></div>
                <h3>
                    {% trans 'Convert Gems on Real Money and Gift Cards' %}
                </h3>
            </div>
        </div>
    </div>
</section>

<section class="question">
    <h2 class="h2">{% trans 'FAQ' %}</h2>
    <div class="wrapper">
        <div class="question-item">
            <div class="title">
                {% trans 'How much can I earn?' %}
            </div>
            <p>
                {% trans 'Your income is not limited at all! The more you play, the more money you will make!' %}
            </p>
            <div class="btn-close">
                <div class="colse">
                    <div class="row"></div>
                    <div class="row"></div>
                </div>
            </div>
        </div>
        <div class="question-item">
            <div class="title">
                {% trans 'How can I receive payment for #1 leaderboard position?' %}
            </div>
            <p>
                {% trans 'Because the Pay2K platform operated under Free TON blockchain, all payments are transferred automatically to your blockchain wallet.' %}
            </p>
            <div class="btn-close">
                <div class="colse">
                    <div class="row"></div>
                    <div class="row"></div>
                </div>
            </div>
        </div>
        <div class="question-item">
            <div class="title">
                {% trans 'Pay2K is really free?' %}
            </div>
            <p>
                {% trans "Yes, absolutly! You don't need to spend anything at all! All you need to do is to play games and EARN MONEY!" %}
            </p>
            <div class="btn-close">
                <div class="colse">
                    <div class="row"></div>
                    <div class="row"></div>
                </div>
            </div>
        </div>

    </div>

</section>

  <div class="container-fluid call-to-action-button call-to-action-button-game" >
        <div class="row">
            <div class="col-lg-12">
                <div class="download-text-wrapper">
                    <div class="download__button-wrapper-fixed fixed">
                        <div class="download__button ">
                            <a href="/catalogue/{{ data.uid }}/">{% trans "Play Now!" %}</a>
                        </div>
                    </div>
                    <div class="download__button-wrapper">
                        <div class="download__button ">
                            <a href="/catalogue/{{ data.uid }}/">{% trans "Play Now!" %}</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div> 
   <div class="download__button-wrapper-fixed fixed download__button-wrapper-fixed-game">
                     <div class="download__button ">
                    <a href="/catalogue/{{ data.uid }}/">{% trans 'Play Now!' %}</a>
                </div>
                </div>
<footer id="scroll-position">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h2>{% trans 'Need help?' %}</h2>
                <div class="text">
                    <p>{% trans 'We are ready to help you any time!' %}</p>
                    <a href=".">{% trans 'Contact us' %}</a>
                </div>
            </div>

            <div class="col-md-6">
                <nav class="footer-menu">

                    <ul>
                        <li><a href="/company/">{% trans 'Company' %}</a></li>
                        {#<li><a href="/terms/">{% trans 'Terms' %}</a></li>#}
                        <li><a href="/policy/">{% trans 'Privacy Policy' %}</a></li>
                        <li><a href="/contact/">{% trans 'Contact Us' %}</a></li>
                    </ul>
                </nav>
            </div>

            <div class="col-md-6 col-sm-6 col-6">
                <div class="logo">
                    <a href="/">
                        Pay2k
                    </a>
                </div>

            </div>

            <div class="col-md-6 col-sm-6 col-6">
                <div class="follow-us">
                    <span>{% trans 'Follow us' %}</span>
                    <a href="https://www.facebook.com/pay2k/"><img src="{% static "img/facebook.svg" %}" alt=""></a>
                    <a href="{% trans 'https://www.instagram.com/pay2k.mobile/' %}"><img src="{% static "img/instagram.svg" %}" alt=""></a>
                </div>
            </div>
        </div>

    </div>


</footer>
{% include 'site/scripts.html' %}
</body>
</html>
